@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SamsungSharpSans';
    src: url('/fonts/SamsungSharpSans.woff2') format('woff2');
  }
  @font-face {
    font-family: 'SamsungSharpSans-Bold';
    src: url('/fonts/SamsungSharpSans-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'SamsungSharpSans-Medium';
    src: url('/fonts/SamsungSharpSans-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins-Light';
    src: url('/fonts/Poppins Light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/Poppins Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/fonts/Poppins SemiBold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/fonts/Poppins ExtraBold.woff2') format('woff2');
  }
}
